<header class="header-navigation">
  <div class="logo-container">
      <img src="../assets/img/logo.png" alt="Web logo">
      <p>BenoxTool</p>
  </div>
  <nav>
      <ul class="navigation-menu">
          <li><a href="#">Registrarse</a></li>
          <li><a href="#">Acerca del proyecto</a></li>
      </ul>
  </nav>
</header>
<main class="main-login-container">
  <h1>INICIAR SESIÓN</h1>
  <p>¡Bienvenido de regreso! Inicia sesión para acceder a la aplicación.</p>
  <div class="form-group">
      <input type="text" autocomplete="off" name="username" class="form-field" placeholder="Nombre de usuario" required>
      <label for="username" class="form-label">Nombre de usuario</label>
  </div>
  <div class="form-group">
    <input type="text" autocomplete="off" name="password" class="form-field" placeholder="Contraseña" required>
    <label for="password" class="form-label">Contraseña</label>
  </div>
  <p>¿Has <a href="#">olvidado la contraseña?</a></p>
  <button type="button">Iniciar sesión</button>
</main>
